#table1 {
	position: absolute;
	width: 23px;
	height: 20px;
	top: 63px;
	left: 134px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table2 {
	position: absolute;
	width: 19px;
	height: 18px;
	top: 82px;
	left: 226px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table3 {
	position: absolute;
	width: 18px;
	height: 20px;
	top: 79px;
	left: 330px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table4 {
	position: absolute;
	width: 24px;
	height: 21px;
	top:354px;
	left: 140px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table5 {
	position: absolute;
	width: 22px;
	height: 21px;
	top: 156px;
	left: 217px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table6 {
	position: absolute;
	width: 23px;
	height: 26px;
	top: 196px;
	left: 288px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table7 {
	position: absolute;
	width: 20px;
	height: 22px;
	top: 314px;
	left: 219px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table8 {
	position: absolute;
	width: 75px;
	height: 19px;
	top: 300px;
	left: 479px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table9 {
	position: absolute;
	width: 35px;
	height: 16px;
	top: 178px;
	left: 527px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table10 {
	position: absolute;
	width: 22px;
	height: 23px;
	top: 275px;
	left: 143px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table11 {
	position: absolute;
	width: 25px;
	height: 22px;
	top: 236px;
	left: 216px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table12 {
	position: absolute;
	width: 22px;
	height: 24px;
	top: 270px;
	left: 291px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table13 {
	position: absolute;
	width: 30px;
	height: 17px;
	top: 239px;
	left: 361px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table14 {
	position: absolute;
	width: 24px;
	height: 22px;
	top: 120px;
	left: 140px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table15 {
	position: absolute;
	width: 75px;
	height: 22px;
	top: 390px;
	left: 480px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table16 {
	position: absolute;
	width: 71px;
	height: 25px;
	top: 477px;
	left: 484px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table17 {
	position: absolute;
	width: 45px;
	height: 36px;
	top: 449px;
	left: 161px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table18 {
	position: absolute;
	width: 26px;
	height: 23px;
	top: 79px;
	left: 528px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table19 {
	position: absolute;
	width: 36px;
	height: 20px;
	top: 194px;
	left: 144px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}

#table20 {
	position: absolute;
	width: 41px;
	height: 21px;
	top: 137px;
	left: 433px;
	background-color: #0073E6;
	color: white;
	text-align: center;
	font-style: bold;
}